body{
  background-color: lightblue;
}

body >header{
  font-family: 'Quintessential', cursive;
  line-height:20vh;
  font-size: 10vh;
  color:floralwhite;
  text-shadow: 2px 2px royalblue;
  background-image: url(../public/images/purple-swirl.jpeg);
  opacity: 85%;
}

button{
  font-weight: lighter;
  font-size: medium;
}

h1{
  font-size:5vh;
  text-align: center;
  /* font-family: 'Quintessential', cursive; */
}
h2{
  /* font-family: 'Quintessential', cursive; */
  margin-right: 5vw;
  margin-left: 5vw;
  text-align:center;
}
h3{
  /* font-family: 'Quintessential', cursive; */
  margin:20px;
  text-align: center;
}
h4{
  text-align: center;
}
input{
  width:75vw  ;
}
select{
  width:75vw;
}

#productContainer {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#productDescription {
  font-size: larger;
  width: 30%;
  height: 300px;
  /* font-family: 'Quintessential', cursive; */
}

#productImage {
  height: 250px;
  width: 100%;
  border-radius: 20px
}

#productDescriptionContainer {
  height: 250px;
  width: 90%;
  margin: 0 auto;
  /* font-family: 'Quintessential', cursive; */
}
#nav{
  background-color: darkcyan; 
  flex-direction:row;
  justify-content: space-evenly;
  width:100%;
  margin:0 auto;
} 
#nav>a{
  font-size: 3vh;
  /* font-family: 'Quintessential', cursive; */
  color:floralwhite;
}
#cartHeadings>.flex-item{
  display:inline-flex;
  flex-direction:row;
  justify-content: space-evenly;
}
.flex-container>#formCreateUser{
  display:inline-flex;
  flex-direction:column;
}
#formCreateUser>label{
  display:inline-flex;
  justify-content: space-between;
}

.flex-container {
  flex-direction:row;
  display:flex;
  background-color: floralwhite;
  margin: 20px;
  justify-content: center;
}

.flex-container>.flex-item > h2{
  font-size:3vh;
}
.flex-item img {
  display:flexbox;
  padding: 15px 15px;
  width: 30vw;
  height: 50vh;
  border-radius: 20px;
  
}

button{
  width: 20vw;
}
.flex-item>h3{

  padding: 10px 7.5px; 
  width: 10vw;
  text-align: center;
  border-radius: 20px;
  background-color:royalblue;
  color:floralwhite;
}

#shoppingcart{
text-align: center;
}
#cartItems{
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin:auto;
  padding: 15px;
}
#price{
  margin-right: 20%;
  text-align:end;
}

#noitems{
  height:70px;
  width: 100%;
  text-align: center;
}

#total{
  font-size:xx-large;
  height:50px;
  width: 90%;
  margin-left: 25%;
  /* margin-right:40%; */
  padding-right:22%;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

#checkout{
  margin-top: 50px;
  height:50px;
  width: 90%;
  margin-left: 60%;
}
#confirmation{
  display: flex;
  justify-content: center;
  margin-top: 30%;
}
#confirmation-body{
  display:none;
}